.chapter(data-title='Click to Call Rails')
  .step(data-title='How It Works!')
    :markdown
      ## How It Works

      Let's go over the necessary steps to implement click-to-call

      ![Click-to-call Diagram](//s3-us-west-2.amazonaws.com/deved/clicktocall.png)

      1. A website visitor wants to connect to your organization.  She submits a web form with her
      phone number to receive a call connecting her to your sales or support team.

      1. Your web application receives the submission form.  An HTTP request is initiated from your
      application to Twilio to initiate an outbound call.

      1. Twilio receives the request and initiates a call to the user's phone number.

      1. User receives the call.

      1. After the call connects, Twilio asks our application for [TwiML
      instructions](//www.twilio.com/docs/api/twiml). Our TwiML instructs Twilio to connect the user
      to our sales or support teams.

      ## What We Will Learn

      This How-To demonstrates initializing a call using the [Twilio REST API][rest] and creating TwiML call logic using the [Say][say] and [Dial][dial] verbs.

      Sound like a plan? Let's get started!

      [rest]: /docs/api/rest/
      [dial]: /docs/api/twiml/dial
      [say]:  /docs/api/twiml/say

      ---

      **See Also:**
      * [Twilio Ruby Helper Library](//www.twilio.com/docs/ruby/install)

  .step(data-title='Environment', data-file='app/controllers/twilio_controller.rb', data-highlight="10-13")
    :markdown
      ## Environment

      To create our click-to-call application we need to setup our environment first.

      Let's put our Twilio credentials in a place where our application can access them. For the
      purposes of this tutorial we'll place them as environment variables that our application can read.

      You can find your Twilio credentials in your [Account Dashboard](//www.twilio.com/user/account).

      For more instructions on how to run the application refer to the [app's
      readme file](//github.com/TwilioDevEd/clicktocall-rails/blob/master/README.md).

  .step(data-title="The Web Form", data-file='app/views/twilio/index.erb', data-highlight="20-31")
    :markdown
      ## The Web Form

      The first step on creating a real click-to-call solution is by building the form that your
      user needs to fill on the web. No need to overthink this, the real goal is to POST the User's
      phone number to your controller.

      So what information does this form need? An input for the phone number and
      a submit button. Since the page doesn't need to render new content after clicking
      on submit, we decided to implement the POST action via Ajax using jQuery.
      Let's take a look at it.

  .step(data-title='Submitting the Form', data-file='app/assets/javascripts/app.js', data-highlight="11-30")
    :markdown
      ## Submitting the Form

      To make the click to call feature more seamless we used [Ajax](https://developer.mozilla.org/en-US/docs/AJAX) to send the form asynchronously. This code shows one way you could implement this functionality using [jQuery](http://jquery.org).

      Functionally this code does the following:

      * Watches for the user "submitting" the form element.
      * Submits that form data to our controller.
      * Lets the user know if the submission was successful or not.

      This is a pretty common implementation of jQuery's $.ajax() method, but notice that we are returning the response message when the call has connected.

      Now that we have the front-end done, let's build a controller that will receive this data and call the user.

  .step(data-title='Initiating the Client Object', data-file='app/controllers/twilio_controller.rb', data-highlight="28-38")
    :markdown
      ## Initiating the Client Object

      First we initiate a `@client` object with our Account SID and Auth Token. This is essentially our Ruby REST API handler, which we could use to send SMS or a myriad of other things. But for
      now we just need it to get access to an `account.calls`, which is the object that we're going to use to create phone calls.

  .step(data-title='Making a Phone Call', data-file='app/controllers/twilio_controller.rb', data-highlight="28-38")
    :markdown
      ## Making a Phone Call

      Next we'll use the REST API to [make an outgoing phone call][voice] which
      requires us to pass a `From` number, `To` number and the [URL Parameter][url]
      that tells Twilio what to do after it connects the call to our user. In this case
      Twilio needs to dial in the Agent once the call has been placed. We'll discuss more
      about it in the next step.

      [voice]: /docs/api/rest/making-calls
      [url]: /docs/api/rest/making-calls#url-parameter

  .step(data-title='The connect endpoint', data-file='app/controllers/twilio_controller.rb', data-highlight="49-60")
    :markdown
      ## The connect endpoint

      Twilio makes a request to our application when the call is created using the REST API. This
      means that we need to create an endpoint that is publicly available for Internet requests.

  .step(data-title='Validating a Twilio Request', data-file='app/controllers/twilio_controller.rb',
    data-highlight='68-84')
    :markdown
      ## Validating a Twilio Request

      TwiML sometimes can contain sensible information such as phone numbers, so it's vulnerable
      because anyone on the Internet can make a request to this end point, therefore access our TwiML.
      That is why we need to check if the request is made by Twilio servers before doing any operation
      on the Connect endpoint.

      The `authenticate_twilio_request` method provides a mechanism to confirm that the request your application is receiving,
      is actually coming from Twilio.

      ---

      **See Also:**
      * [Twilio Request Validator](http://twilio-ruby.readthedocs.io/en/latest/usage/validation.html)

  .step(data-title='Generating TwiML', data-file='app/controllers/twilio_controller.rb', data-highlight='57')
    :markdown
      ## Generating TwiML

      TwiML is a set of [simple verbs][verbs] written in XML that Twilio reads as instructions.
      In this case our instructions inform Twilio to simply SAY something to the user. If we wanted
      to connect the user to a real support agent, we would have to add a
      [Dial verb](//www.twilio.com/docs/api/twiml/dial) that specifies the support agent number
      so the customer can talk to him/her.

      In order to make writing TwiML easy, many of the helper libraries have methods that generate
      TwiML for you. In this case we use twilio-ruby to create a TwiML response that will instruct
      Twilio to say something.

      [verbs]: //www.twilio.com/docs/api/twiml#verbs

  .step(data-title='Where to Next?')
    :markdown
      ## Where to next?

      That's it! We've just implemented click to call that allow your customers to connect with a
      support agent.

      If you're a Ruby|Rails developer working with Twilio you might enjoy these
      other tutorials:

      [**Automated Survey**](//www.twilio.com/docs/tutorials/walkthrough/automated-survey/ruby/rails)

      Instantly collect structured data from your users with a survey
      conducted over a voice call or SMS text messages. Learn how to create
      your own survey in Ruby.

      [**SMS and MMS Notifications**](//www.twilio.com/docs/tutorials/walkthrough/server-notifications/ruby/rails)

      Send SMS alerts to a list of system administrators if something goes wrong on your server.

      ### Did this help?

      Thanks for checking this tutorial out! If you have any feedback
      to share with us, we'd love to hear it.
      [Contact the Twilio Developer Education Team](mailto:deved-oss@twilio.com) to let us know what you think.
