<div id="welcome-twilio">
  <h1>Welcome to Twilio's Rails world</h1>
  <p>This acts as your base application for interacting with all of the tutorials on the <a href="https://twilio.com/docs/">Twilio Docs</a>. In order to start working on a solution area check out the branch assigned with it. To list the branches type <code> git branch -r </code>.</p>
</div> 
