/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
body {
  background:url(pattern-bg.jpg);
  font-family: 'Roboto', sans-serif;
  color:white;
  -webkit-font-smoothing: antialiased;
font-smooth: always;
-webkit-font-smoothing: subpixel-antialiased;
-webkit-text-stroke: 1px rgba(0,0,0,0.1)
}

#welcome-twilio {
  width:500px;
  margin: 20px auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}